.App-loading-container,
.App-error-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-loading-text,
.App-error-text {
  color: #ddd;
}

.App-error-button-container {
  display: flex;
  justify-content: center;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-button {
  outline: none;
  height: 36px;
  min-width: 88px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.86);
  background-color: #ddd;
}

.App-button::-moz-focus-inner {
  border: 0;
}

.App-togglebutton-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-togglebutton {
  margin: 8px;
  height: 48px;
  min-width: 136px;
}

.App-togglebutton-on {
  background-color: #ffed29;
}

.App-togglebutton-off {
}
